
:root {
  --panels-width: 45vw;
  --panels-min: 450px;
  --panels-max: 650px;
}

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0 0.75em !important;
}

tags[required] {
  border-color: #f14668 !important;
}

/* COMPONENTS */

.constraint-fields ace-editor {
  height: auto;
  min-height: 5em;
  border: 1px solid #ddd;
  border-radius: 2px;
}

.ace_placeholder {
  padding: 0 0.6em;
  margin: 0;
  opacity: 0.5;
  transform: none;
  font-style: italic;
}

.ace_active-line {
  display: none;
}

.is-checkbox {
  cursor: pointer;
}

.revealing-checkbox + .select {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;
}

.revealing-checkbox[checked] + .select {
  opacity: 1;
  pointer-events: all;
}

#query_panel {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: var(--panels-width);
  min-width: var(--panels-min);
  max-width: var(--panels-max);
  padding: 1em;
}

#response {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  width: calc(100% - var(--panels-width));
  min-width: calc(100% - var(--panels-max));
  max-width: calc(100% - var(--panels-min));
}



@media (prefers-color-scheme: dark) {
  html, body {
    color: #fff;
    background-color: rgb(31, 32, 34);
  }
}