html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Heebo', sans-serif;
}

#svg_source {
  display: none;
}

svg {
  display: inline-block;
  width: 1em;
  height: 1em;
  pointer-events: none;
  vertical-align: middle;
  fill: #fff;
}

main {
  display: flex;
  height: 100%;
  overflow: hidden;
}


h1 {
  font-size: 1em;
  padding: 0 0.6em;
  margin: 0;
  text-shadow: 0 1px 1px rgba(0,0,0,0.75);
}

form input,
form button,
form select,  
form textarea {
  outline: none;
  font-family: monospace;
}

form input[type="text"]:focus,
form input:not([type]):focus,
form button:focus,
form select:focus,
form textarea:focus,
.codeflask textarea:focus {
  outline: 1px dotted rgba(200, 206, 231, 0.5);
  outline-offset: 2px;
}

form input[type="text"],
form input:not([type]),
form select,
form textarea {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  padding: 0.6em;
  border-radius: 3px;  
  color: #fff !important;
  opacity: 1 !important;
  background: rgba(0,0,0, 0.1) !important; 
  border: 1px solid rgba(255,255,255, 0.1);
  border-top: 1px solid rgba(255,255,255, 0.075);
  border-bottom: 1px solid rgba(255,255,255, 0.125);
  box-shadow: 0 1px 4px 0px rgba(0,0,0,0.5) inset;
}

form label, form [heading] {
  position: relative;
  margin-top: 1.75em;
}

form [heading]:before {
  content: attr(heading);
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.3em 0.6em 0.2em;
  font-size: 0.6em;
  letter-spacing: 0.1em;
  text-shadow: 0 1px 0 rgba(0,0,0,0.5);
  color: #fff;
  background: rgba(255, 255, 255, 0.05);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

form button,
input[type="submit"] {
  display: block;
  margin: 0 auto;
  padding: 0.5em 1em;
  border: none;
  border-radius: 2px;
  background: #ccc;
  box-shadow: 0 1px 1px 1px rgba(0,0,0,0.5);
  font-weight: bold;
  cursor: pointer;
}

form input[type="submit"] {
  margin-top: 1em;
}

form select {
  cursor: pointer;
}

.codeflask {
  min-height: 100px;
  border: 1px solid rgba(255,255,255, 0.1);
  border-top: 1px solid rgba(255,255,255, 0.075);
  border-bottom: 1px solid rgba(255,255,255, 0.125);
}

.codeflask textarea,
.codeflask pre,
.codeflask code {
  padding: 0.6em 0.7em !important;
}

#global_menu {
  min-width: 4em;
  background: #333;
  border-right: 1px solid rgba(0,0,0,0.2);
  box-shadow: 1px 0px 3px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

#global_menu a {
  display: block;
  padding: 1em 0;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  box-shadow: 0 1px 1px 0 rgba(255,255,255,0.1)
}

#global_menu #home {
  border-bottom: 3px solid rgba(0,0,0,0.3);
  box-shadow: 0 1px 1px 0 rgba(255,255,255,0.1)
}

#global_menu a > * {
  display: inline-block;
  color: inherit;
}

#global_menu svg {
  width: 1.5em;
  height: 1.5em;
}

#home {
  background: none !important;
}

#home svg {
  width: 2em;
  height: 2em;
  fill: #9ca5c7;
}

#sidebar > header,
#frame_section > header {
  height: 3em;
  line-height: 3em;
}

#sidebar {
  position: relative;
  width: 300px;
  border-right: 1px solid rgba(0,0,0,0.15);
  box-shadow: 1px 0 2px 1px rgba(0,0,0,0.2);
  z-index: 1;
}

#sidebar,
#sidebar section {
  background: #383c4d;
}

#sidebar section {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: inherit;
  overflow-y: auto;
  border-right: 1px solid rgba(0,0,0,0.5);
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.35s ease;
}

#sidebar form {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

#sidebar form label,
form [heading] {
  padding: 2.5em 1.25em 0;
}

#sidebar form option {
  color: #000;
}

#sidebar form + footer {
  padding: 1em;
  margin-top: auto;
}

#sidebar form + footer input {
  margin: 0 auto;
  display: block;
}

#sidebar section footer {
  display: flex;
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  width: inherit;
  padding: 0.75em 0.5em;
  z-index: 2;
  background: rgba(0,0,0,0.2);
}

#frame_section {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}

#frame_section > header {
  position: relative;
  color: #fff;
  background: #888;
  border-bottom: 1px solid rgba(0,0,0,0.4);
  box-shadow: 0 0px 1px 1px rgba(0,0,0,0.2);
}

#frame_section:before {
  display: inline-block;
  position: absolute;
  top: calc(50% + 1.5em);
  left: 50%;
  transform: translate(-50%, -50%);
  content: "🡐 Enter a query";
  z-index: -1;
}

#test_frame {
  flex: 1;
  border: none;
  background: #fff;
  opacity: 0;
  transition: opacity 0.5s ease;
}

#test_frame:not([data="about:blank"]) {
  opacity: 1;
}

/* USERS */

#user_list {
  color: #fff;
  list-style: none;
}

#user_list:empty:after {
  content: "No users. Add one above 🠅";
  display: block;
  text-align: center;
  color: rgba(255,255,255,0.3);
  text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
}

#user_list li {
  display: flex;
  margin: 0 0 0.5em;
  background: rgba(0,0,0,0.2);
  border-radius: 3px;
}

#user_list li:before {
  content: attr(data-did);
  padding: 0.5em 0.75em;
}

#user_list li .delete-user {
  margin: auto 0 auto auto;
  padding: 0.5em 0.75em;
  color: red;
  cursor: pointer;
}


/* UI STATES */

body:not([path]) #query_section,
body[path="/playground"] #query_section,
body[path="/playground/users"] #user_section {
  transform: translate3d(0,0,0);
}

body:not([path]) a[href="/"],
body[path="/playground"] a[href="/playground"],
body[path="/playground/users"] a[href="/playground/users"] {
  background: radial-gradient(circle at center, rgba(255,255,255,0.1), transparent 100%)
}